.orange.active {
    background-color: #E95420 !important;
    color: white !important;
}

.orange {
    color: #E95420 !important;
}

.jumbotron {
    padding-bottom: 15px;
    margin-bottom: 15px;
    background-color: #77216F;
    color: white;
}

.jumbotron .row {
    padding-top: 15px;
}

.profile-image {
    width: 250px;
    /* height: 150px; */
    border-radius: 50%;
    border: 3px solid #AEA79F;
}

.browser-image {
    width: 100px;
    margin-right: 25px;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.tabs-pane {
    border: none !important; 
}

.hr-slim hr {
    margin-top: 16px;
    margin-bottom: 16px;
}

.slick-slide {
    margin-left: 50px;
}