.navbar-inverse {
    border-radius: 0px;
    background-color: #2C001E;
}

.navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > li > a:hover {
    background-color: #5E2750;
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: #2C001E;
}