body {
    background-color: #333333;;
    color: #AEA79F;
}

.subsection {
    margin-bottom: 10px;
}

.headtext {
    vertical-align: middle;
}

.headshot {
    margin-right: 10px;
}

#document_body {
    padding-right: 0px;
}